.main-page {
  text-align: center;
  padding: 200px;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 5px;
  height: auto;
  padding: 10px;
}
h2 {
  text-align: center;
  font-size: 65px;
  font-style: italic;
  color: red;
  margin: 15px;
  height: auto;
  padding: 10px;
}

.mat-success {
  background-color: green;
  color: #fff;
}
