<div style="display: flex" class="pagelook">
  <mat-card
    class="cardlook"
    *ngFor="let movie of movies"
    style="flex: 1 1 auto"
  >
    <mat-card-header>
      <mat-card-title class="textcolor1">{{ movie.Title }}</mat-card-title>

      <mat-card-subtitle class="textcolor1"
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
      class="movieimgimports"
    />
    <mat-card-actions class="center">
      <div>
        <button mat-raised-button color="warn">Genre</button>
        <button mat-raised-button color="warn">Director</button>
        <button mat-raised-button color="warn">Synopsis</button>
      </div>
      <br />
      <div>
        <p>
          add to favorites:
          <mat-icon>favorite_border</mat-icon>
        </p>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
