<div class="navbar">
  <div class="nav-container">
    <button mat-button class="app-title" routerLink="/movies" color="primary">
      <h4>movieFlix</h4>
    </button>

    <div class="nav-links">
      <button mat-button class="profile" routerLink="/movies" color="primary">
        <h3>Movies</h3>
      </button>
      <button mat-button class="profile" routerLink="/profile" color="primary">
        <h3>Profile</h3>
      </button>
      <button mat-button class="logout" (click)="logOutUser()" color="accent">
        <h3>Logout</h3>
      </button>
    </div>
  </div>
</div>
